# Token of the selfbot
DISCORD_TOKEN=TOKEN_GOES_HERE

# Your API Key for GROQ API (https://console.groq.com/keys)
GROQ_API_KEY=GROQ_API_KEY_GOES_HERE

# Your API Key for OpenAI (https://platform.openai.com/api_keys) (Optional - Leave blank to use free API)
OPENAI_API_KEY=

# Owner ID of your account (can't be same as bot's ID)
OWNER_ID=ID_OF_YOUR_MAIN_DISCORD_ACCOUNT

# The word you want the AI to respond to (e.g: TRIGGER=John)
TRIGGER=WORD_YOU_WANT_TO_TRIGGER_BOT_WITH

# Prefix you want bot commands to be triggered with
PREFIX=~

# Realistic Typing - If set to true, the bot will type for a realistic(ish) amount of time before sending a message 
REALISTIC_TYPING=false

# Anti Age Ban Measures - The bot will attempt to avoid being banned by Discord by filtering out numbers below 13
# This is a strict method, as it removes ANY number below 13, including dates, times, etc.
ANTI_AGE_BAN=true


# For any help or support, please join the support server: https://discord.gg/yUWmzQBV4P